.hex {
  stroke: black;
  stroke-width: 0.5;

  &:hover {
    opacity: 0.8;
  }
}

.hex--selected {
  stroke: red;
  stroke-width: 2px;
}

.hex--type-unknown {
  fill: lightgray;
}

.hex--type-forest {
  fill: #48c848;
}

.hex--type-jungle {
  fill: #008000;
}

.hex--type-desert {
  fill: #e0a438;
}

.hex--type-plain {
  fill: #ffe8a8;
}

.hex--type-swamp {
  fill: #a8a854;
}

.hex--type-mountain {
  fill: #bc6000;
}

.hex--type-hill {
  fill: #0e461c;
}

.hex--type-wasteland {
  fill: #36b5a0;
}

.hex--type-tundra {
  fill: #ccf3ec;
}

.hex--type-ocean {
  fill: blue;
}
