.map {
  overflow: hidden;
  margin-left: 20px;
  background-color: lightgray;

  @import "./hex.scss";
  @import "./controls.scss";
  @import "./hex-objects.scss";
}

.test123 {
  width: 10px;
  height: 10px;
}
