.details-block {
  font-size: 12px;
  height: 100%;
  overflow: auto;
  padding: 0.5rem;

  .details-block__link {
    font-size: 10px;
  }

  @import "./events-styles.scss";
  @import "./battles-styles.scss";
}
