.detais-unit {
  font-size: 12px;
  padding: 0.5rem;

  .unit-header {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }

  .unit-flags {
    height: 32px;
  }

  .unit-flags__btn {
    padding: 0.1rem 0.3rem;
  }

  .unit-flags__flag-icon {
    padding: 0;
    width: 24px;
    height: 24px;
  }

  .unit-details-divider {
    margin: 0.2rem 0;
  }
}

.actions-menu {
  position: absolute;
  top: 12px;
  right: 20px;
}

.actions-menu__menu {
  width: 400px;
  top: -10px !important; //overriding bootstrap position
}

.actions-menu__menu--extended {
  width: 614px;
}

.actions-menu__menu-item {
  display: flex;
  align-items: center;
}

.actions-menu__icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
