.atl-region {
  font-size: 12px;
  .atl-region__header {
    font-size: 12px;
    margin-bottom: 0;
  }

  .atl-region__detail {
    &:first-child {
      margin-top: 0px;
    }
    margin-top: 2px;
  }

  .atl-region__exit {
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
